# Configurações do Ambiente
VUE_APP_API_BASE_URL=http://localhost:7000
VUE_APP_API_TIMEOUT=30000
VUE_APP_ENVIRONMENT=development

# Configurações de API
VUE_APP_API_ENDPOINTS_NAMESPACES=/listAllNs
VUE_APP_API_ENDPOINTS_PODS=/listAllPods
VUE_APP_API_ENDPOINTS_CREATE_POD=/createPod
VUE_APP_API_ENDPOINTS_DELETE_POD=/deletePod
